
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.profile_img_border {
    padding: 5px;
    border-radius: 100px;
    border: 1px solid silver;
}

.profile_img img {
    width : 170px;
    height : 170px;
}

.profile_info {
    margin-left: 50px;
    margin-right: 400px;
}

.profile_info div {
    margin: 10px 0;
}

.profile_id {
    padding-bottom: 20px;
}

.profile_id_text {
    font-size: 30px;
    padding-right: 20px;
}

.profile_follow {
    margin-left: 10px;
    padding: 5px 30px;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
}

.profile_follow:hover {
    cursor: pointer;
}

.profile_more {
    margin-left: 10px;
    padding: 10px 12px 7px 12px;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    font-size: 10px;
}

.profile_more:hover {
    cursor: pointer;
}

.profile_etc {
    margin-left: 10px;
    padding: 9px 12px;
}

.profile_etc:hover {
    cursor: pointer;
}

.profile_text_num {
    padding-right: 40px;
    font-weight: bold;
}

.profile_text_kor {
    padding-right: 5px;
}

.profile_text {
    padding-top: 20px;
}

.profile_text_name {
    font-weight: bold;
}

.profile_text_address {
    color :midnightblue;
}

